@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lz8ogm');
  src:  url('../fonts/icomoon.eot?lz8ogm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lz8ogm') format('truetype'),
    url('../fonts/icomoon.woff?lz8ogm') format('woff'),
    url('../fonts/icomoon.svg?lz8ogm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter_7:before {
  content: "\e900";
}
.icon-tools:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
